extends /main

block content
  .main.content-container(role='main')
    h1 About Me
    :markdown-it(linkify)
      I've always been interested in computers and was introduced to coding by typing programs from a magazine into my
      [Amstrad 64K](http://en.wikipedia.org/wiki/Amstrad_CPC). Needless to say, they rarely worked as a single typo would
      render the whole thing unusable. But I was hooked. The fact that that typing a load of crap in to the computer would
      produce something you could play with was amazing to me.

      These days my coding techniques are a little less “type and hope”. At least I like to think so, anyway! I started off
      in the Microsoft world doing [Windows Forms](http://en.wikipedia.org/wiki/Windows_Forms). After a couple of years I
      made the natural progression to [WPF](http://en.wikipedia.org/wiki/Windows_Presentation_Foundation) and
      [Silverlight](http://en.wikipedia.org/wiki/Microsoft_Silverlight).

      Another couple of years later I had the opportunity to jump over to web development. Working with HTML/CSS/JS was one
      of those things I knew the basics of but didn't really *know*.

      My days are filled at the moment designing and developing [single-page applications](http://en.wikipedia.org/wiki/Single-page_application).
      So I get to use techniques and thinking I've picked up one both web and native. I want to continue on this for next couple
      of years at least. Alongside this I'm really loving getting to know [Node.js](http://nodejs.org) and going back to
      native development with iOS.

    h1 About My Site
    :markdown-it(linkify)
      I built this site using [Locomotive](http://locomotivejs.org), which is a thin wrapper over the [Express](http://expressjs.com)
      web framework for Node.js. The site is running on [Heroku](http://www.heroku.com) and I'm using [Mongoose](http://mongoosejs.com)
      to store my posts in [MongoDB](http://www.mongodb.org).

      I really wanted to become proficient in Node.js and I find the best way to learn something is to have something
      *meaningful* to build. I usually use a book or two to learn something new but I found I didn't need to this time.

      I'll be making the code available on [GitHub](https://github.com) soon.
