doctype html
html(lang='en')
  head
    title Chris Shepherd
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/static/images/favicon.png' type="image/png")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic,900italic')
    link(rel='stylesheet', href='/static/css/layout.css')
    link(rel='stylesheet', href='/static/css/layout-larger.css', media='all and (min-width: 33.236em)')
    link(rel='stylesheet', href='/static/css/mono-blue.css')
    block head
  body
    header.main-header
      .main-header-content.content-container
        a.header-link(href='/'): img.avatar(src='/static/images/me.jpg')
        h1.title: a.header-link(href='/') Chris Shepherd
        nav.main-menu(role='navigation')
          ul
            if menu === 'Home'
              li: a.header-link.main-menu-item-selected(href='/') Home
            else
              li: a.header-link(href='/') Home
            if menu === 'About'
              li: a.header-link.main-menu-item-selected(href='/about') About
            else
              li: a.header-link(href='/about') About

    block content

    footer.main-footer
      .main-footer-content.content-container
        .footer-icons-container
          a.footer-icon.foundicon-twitter(href='http://twitter.com/chrisjshepherd')
          a.footer-icon.foundicon-facebook(href='http://www.facebook.com/chris.j.shepherd')
          a.footer-icon.foundicon-rss(href='http://feeds.feedburner.com/chrisshepherd')
        span.copyright Chris Shepherd © 2019
