.content {
  line-height: 1.8;
  margin: 0 auto;
  max-width: 32rem;
  padding: 0.608rem;
}

.content blockquote {
  border-bottom: 2px solid #ef0;
  border-top: 2px solid #ef0;
}

@media (min-width: 768px) {
  .content {
    font-size: 1.125rem;
    max-width: 48rem;
  }
}

@media (min-width: 1200px) {
  .content {
    font-size: 1.25rem;
    max-width: 64rem;
  }
}
