.footer {
  background-color: #ef0;
  overflow: hidden;
}

.footerInner {
  margin: 0 auto;
  max-width: 32rem;
  overflow: hidden;
  padding: 0.608rem;
}

.icon {
  margin: 1rem 1rem;
}

.icon:first-child {
  margin-left: 0;
}

.copyright {
  font-size: 0.825rem;
}

@media (min-width: 768px) {
  .footerInner {
    max-width: 48rem;
  }
}

@media (min-width: 1200px) {
  .footerInner {
    max-width: 64rem;
  }
}
